<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="keywords" content="<%= keywords %>" />
	<meta name="description" content="<%= description %>" />
	<!-- 网页标签标题 -->
	<title><%= title %></title>
  <link rel="shortcut icon" href="/img/seata_logo_small.jpeg"/>
	<link rel="stylesheet" href="<%= rootPath %>/build/<%= page %>.css" />
</head>
<body>
	<div id="root"><%- __html %></div>
	<script src="https://f.alicdn.com/react/15.4.1/react-with-addons.min.js"></script>
	<script src="https://f.alicdn.com/react/15.4.1/react-dom.min.js"></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-X4LJGF90X2"></script>
	<script>
		window.rootPath = '<%= rootPath %>';
  </script>
	<script src="<%= rootPath %>/build/<%= page %>.js"></script>
	<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?104e73ef0c18b416b27abb23757ed8ee";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();

    window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-X4LJGF90X2');
    </script>
</body>
</html>
